*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2{
  color: #fff;
  -webkit-text-stroke: 1px orange;
  font-size: 50px;
}

.main{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.products{
  border-right: solid 5px orange;
}

.total{
  color: teal;
  font-size: 25px;
}